<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Carrito</title>
    <link rel="stylesheet" href="/path/to/bootstrap.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Detalles del Carrito</h1>
        {{#if cart}}
        <div class="row">
            <div class="col-12">
                <h2>Carrito ID: {{cart._id}}</h2>
                <ul class="list-group">
                    {{#each cart.products}}
                    <li class="list-group-item">
                        Producto ID: {{this.productId}} <br>
                        Cantidad: {{this.quantity}}
                    </li>
                    {{/each}}
                </ul>
                <hr>
                <h2>Agregar Producto</h2>
                {{#each products}}
                <form class="add-to-cart-form d-inline" action="/api/carts/{{cart._id}}/product/{{this._id}}" method="POST">
                    <input type="hidden" name="productId" value="{{this._id}}">
                    <label for="quantity" class="label_cantidad">Cantidad:</label>
                    <input type="number" name="quantity" value="1" min="1" class="input-quantity">
                    <button type="submit" class="btn btn-primary btn-cart">Añadir al carrito</button>
                </form>
                {{/each}}
            </div>
        </div>
        {{else}}
        <p>No se encontraron detalles del carrito.</p>
        {{/if}}
    </div>
    <script src="/path/to/bootstrap.js"></script>
</body>
</html>
