<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carritos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>Lista de Carritos</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Productos</th>
                    <th>Total</th> <!-- Nueva columna para mostrar el total -->
                </tr>
            </thead>
            <tbody>
                {{#each carts}}
                <tr>
                    <td>{{this._id}}</td>
                    <td>
                        {{#each this.products}}
                        <div>
                            <img src="{{this.productId.thumbnails}}" alt="{{this.productId.title}}" style="max-width: 150px; height: auto;">
                        </div>
                        <div>
                            <p>
                                Producto: {{this.productId.title}}<br>
                                Cantidad: {{this.quantity}}<br>
                                Precio: ${{this.productId.price}}
                            </p>
                        </div>
                        {{/each}}
                    </td>
                    <td>{{this.total}}</td> <!-- Muestra el total calculado -->
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>
</html>
